* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*::before,
*::after {
	box-sizing: inherit;
}
*:focus {
	outline: 2px dashed #ff7500;
	outline-offset: 3px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
body {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
}
.btn {
	padding: 12px 24px;
	background-color: #ff7500;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	line-height: 1.2;
	letter-spacing: 0.5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: opacity 4s ease;
}
.site-nav-link:hover {
	color: #ff7500;
}
.site-nav-link {
	font-size: 13px;
	letter-spacing: 1px;
}

.btn:hover {
	opacity: 0.8;
}
.container {
	max-width: 1480px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.site-header {
	border-top: 5px solid #ff7500;
	padding-top: 16px;
	padding-bottom: 16px;
}
.site-header-container {
	display: flex;
	align-items: center;
}
.site-logo {
	margin-right: auto;
	width: 227px;
	transition: opacity 0.4s ease;
}
.site-logo:hover {
	opacity: 0.8;
}
.site-logo:active {
	opacity: 0.6;
}
.site-nav {
	margin-right: 32px;
}

.site-nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.site-nav-item:not(:last-child) {
	margin-right: 32px;
}
.site-nav-link:active {
	font-weight: 500;
	font-style: 13px;
	letter-spacing: 1;
	line-height: 1.2;
	color: #000;
	padding-bottom: 4px;
}
.active {
	border-bottom: 3px solid #ff7500;
}

.hero {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #252420;
	margin-bottom: 120px;
}
.hero-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero-info {
	max-width: 367px;
	width: 100%;
	color: #fff;
}
.hero-line {
	display: inline-block;
	width: 80px;
	height: 3px;
	background-color: #ff7500;
	margin-bottom: 24px;
}
.hero-title {
	margin-top: 0;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 1.2;
	margin-bottom: 24px;
}
.hero-text {
	letter-spacing: 0.5px;
	margin-bottom: 32px;
}

.hero-img img {
	border-radius: 8px;
	margin-top: 40px;
	margin-bottom: -40px;
}
/* promo start */
.promo {
	padding: 120px 0;
	color: #fff;
}

.promo-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #252420;
	padding: 64px;
	border-radius: 12px;
}

.promo-info {
	max-width: 440px;
}

.promo-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 24px;
}

.promo-text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 12px;
}

.promo-img img {
	max-width: 440px;
}

/* promo end */
/* features start */
.features {
	margin-bottom: 245px;
}

.site-features-container {
	display: flex;
	flex-direction: column;
}

.features-title {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 72px;
	line-height: 120%;
	letter-spacing: 0.5px;
	margin-bottom: 72px;
}

.features-list {
	display: flex;
	gap: 40px;
}
.features-item {
	display: flex;
	margin-right: 0;
}
.features-img-wrapper {
}
.features-list-item {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0.5px;
}
.features-item-text {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.5px;
}
/* 	fetures end */
/* FOOTER START  */
.site-footer {
  padding: 56px 0;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.site-footer-socials {
  display: flex;
  gap: 16px;
}

.site-footer-socials a {
  color: #252420;
  transition: color 0.4s ease;
}

.site-footer-socials a:hover {
  color: #ff7500;
}

.site-footer-line {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  margin-bottom: 64px;
}

.site-footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.site-footer-links {
	list-style: none;
	padding: 0;
	margin: 0;

}
.site-footer-links li:not(:last-child) {
margin-bottom: 16px;
}
.site-footer-links a {
	text-decoration: none;
	font-size: 16px;
	line-height: 1.2;
	color: #252420;
	transition: all 0.4 ease;
}
.site-footer-links a:hover {
	color: #ff7500;
}
.site-footer-links a:active {
	opacity: 0.6;
}
/* FOOTER END */
