* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*::before,
*::after {
	box-sizing: inherit;
}
*:focus {
	outline: 2px dashed #ff7500;
	outline-offset: 3px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
body {
	font-style: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
}
.btn {
	padding: 12px 24px;
	background-color: #ff7500;
	color: #fff;
	background-repeat: 4px;
	font-weight: 700;
	font-size: 1.3;
	line-height: 1.2;
	letter-spacing: 0.5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: opacity 4s ease;
}
.site-nav-link:hover {
	color: #ff7500;
}
.site-nav-link:active {
	opacity: 0.6;
}
.btn:hover {
	opacity: 0.8px;
}
.container {
	max-width: 1140px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.site-header {
	border-top: 5px solid #ff7500;
	padding-top: 16px;
	padding-bottom: 16px;
}
.site-header-container {
	display: flex;
	align-items: center;
}
.site-logo {
	margin-right: auto;
	width: 227px;
	transition: opacity 0.4s ease;
}
.site-logo:hover {
	opacity: 0.8;
}
.site-logo:active {
	opacity: 0.6;
}
.site-nav {
	margin-right: 32px;
}

.site-nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.site-nav-item:not(:last-child) {
	margin-right: 32px;
}
.site-nav-link:active {
	font-weight: 500;
	font-style: 13px;
	letter-spacing: 1;
	line-height: 1.2;
	color: #000;
	padding-bottom: 4px;
}
.active {
	border-bottom: 3px solid #ff7500;
}
